accelerate~=0.29.2
alt-profanity-check~=1.4.1.post1
bitsandbytes~=0.42.0
chromadb~=0.4.24
click~=8.1.7
datasets~=2.18.0
deepspeed~=0.14.0
duckduckgo-search~=5.3.0
einops~=0.7.0
faiss-cpu~=1.8.0
guardrails-ai~=0.4.3
igraph~=0.11.4
ipykernel~=6.29.4
langchain~=0.1.16
langchain-core~=0.1.23
langchain-openai~=0.1.3
openai~=1.17.1
pydantic~=2.7.0
pydantic_core~=2.18.1
pypdf~=4.2.0
pytest~=8.1.1
python-dotenv~=1.0.1
sentence-transformers~=2.6.1
spacy-transformers~=1.3.4
torch~=2.2.2
transformers~=4.36.2
unstructured~=0.11.8
unstructured-client~=0.22.0
wikipedia~=1.4.0
xmltodict~=0.13.0
# fiddler-auditor~=0.0.5
